<ion-view title="Words" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="words-form1" class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-keydown="searchWord()" ng-model="search.word">
      </label>
      <div class="spacer" style="width: 300px; height: 42px;"></div>
      <!-- <ion-item class="item-thumbnail-left" ng-repeat="word in words">
         <img ng-src="http://localhost:3333/{{word.imagePath}}" alt="no image" />
        <h2>{{word.eName}}</h2>
        <h2>{{word.bName}}</h2>
      </ion-item> -->
      <div class="list">
          <a ng-repeat="word in words" class="item item-thumbnail-left" ng-init="word.show = true">
              <img ng-src="{{IMG}}{{word.imagePath}}" alt="no image" ng-click="word.show = !word.show" />
              <h1 class="text-center" style="white-space: normal;" ng-show="word.show" ng-click="word.show = !word.show">{{word.eName}}</h1>
              <h1 class="text-center" style="white-space: normal;" ng-hide="word.show" ng-click="word.show = !word.show">{{word.bName}}</h1>
              <audio ng-show="word.maleVoice.url" id="male{{word._id}}">
                    <source ng-src="{{trustSrc(word.maleVoice.url)}}" type="{{word.maleVoice.media}}">
             </audio>
             <br>
              <audio ng-show="word.femaleVoice.url" id="female{{word._id}}">
                    <source ng-src="{{trustSrc(word.femaleVoice.url)}}" type="{{word.maleVoice.media}}">
             </audio>
             <div class="button-bar">
                 <button type="button" class="button button-block button-energized" ng-show="word.maleVoice.url" ng-click="playMaleVoice(word._id)"><i class="icon ion-man"></i></button>
                 <button type="button" class="button button-block button-royal" ng-show="word.femaleVoice.url" ng-click="playFemaleVoice(word._id)"><i class="icon ion-woman"></i></button>
             </div>
          </a>
      </div>
    </form>
  </ion-content>
</ion-view>
