<ion-view title="Add word" id="add-word">
  <ion-content padding="true" class="has-header">
      <form id="myForm" action="http://localhost:3333/api/word" method="post" enctype="multipart/form-data">
          <input type="hidden" name="secretKey" value="atanasov123">
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="English" ng-model="word.eName" name="eName">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Bulgarian" ng-model="word.bName" name="bName">
            </label>
            <label class="item item-input">
              <input type="file" ng-model="word.file" name="image">
            </label>
            <button type="submit" class="button button-block button-balanced">Add</button>
         </div>
      </form>
  </ion-content>
</ion-view>
