<ion-view title="Add package" id="add-package">
  <ion-content padding="true" class="has-header">
    <form>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Name" ng-model="packageData.name">
        </label>
        <label class="item item-input item-select item-light">
          <div class="input-label">
            Theme
          </div>
          <select id="selectedTheme" ng-model="packageData.themeId">
              <option ng-repeat="theme in themes" value="{{theme._id}}">{{theme.name}}</option>
          </select>
        </label>
        <div class="spacer" style="width: 300px; height:20px;"></div>
        <button type="submit" class="button button-block button-balanced" ng-click="createPackage()">Create</button>
      </div>
    </form>
  </ion-content>
</ion-view>
