<ion-view title="Add word" id="add-word">
  <ion-content padding="true" class="has-header">
      <form>
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="English" ng-model="word.eName">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Bulgarian" ng-model="word.bName">
            </label>
            <label class="item item-input">
              <input type="file" accept="image/*" ng-model="word.image">
            </label>
            <div class="spacer" style="width: 300px; height:20px;"></div>
            <h2 style="display:inline-block;float:left;vertical-align:middle;margin-top:0">Male:</h2>
            <input type="file" ng-model="word.maleVoice" style="float:right">
            <div class="spacer" style="width: 300px; height:60px;"></div>
            <h2 style="display:inline-block;float:left;vertical-align:middle;margin-top:0">Female:</h2>
            <input type="file" ng-model="word.femaleVoice" style="float:right">
            <div class="spacer" style="width: 300px; height:60px;"></div>
            <button type="button" ng-click="captureAudio()">Audio</button>
            <button type="submit" class="button button-block button-balanced" ng-click="saveWord()">Add</button>
         </div>
      </form>
  </ion-content>
</ion-view>
