<ion-view title="Add word" id="add-word">
  <ion-content padding="true" class="has-header">
      <form>
          <input type="hidden" name="secretKey" value="atanasov123">
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="English" ng-model="word.eName">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Bulgarian" ng-model="word.bName">
            </label>
            <label class="item item-input">
              <input type="file" ng-model="word.image">
            </label>
            <button type="submit" class="button button-block button-balanced" ng-click="saveWord()">Add</button>
         </div>
      </form>
  </ion-content>
</ion-view>
