<ion-view title="{{title}}" id="theme">
  <ion-content padding="true" class="has-header">
    <ion-list id="themes-list2">
        <div class="button-bar">
            <a class="button button-block button-positive" href="#/page1/edit/theme/{{id}}"><i class="icon ion-gear-b"></i></a>
            <button class="button button-block button-assertive" ng-click="deleteTheme()"><i class="icon ion-trash-a"></i></button>
        </div>
        <div class="list">
            <a ng-repeat="word in words" class="item item-thumbnail-left" ng-init="word.show = true">
                <img ng-src="{{IMG}}{{word.imagePath}}" alt="no image" ng-click="word.show = !word.show" />
                <h1 class="text-center" ng-show="word.show" ng-click="word.show = !word.show">{{word.eName}}</h1>
                <h1 class="text-center" ng-hide="word.show" ng-click="word.show = !word.show">{{word.bName}}</h1>
            </a>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
