<ion-view title="Words" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="words-form1" class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-keypress="searchWord()" ng-model="search.word">
      </label>
      <a class="button button-block button-balanced" href="#/page1/add/word">
            Add word
      </a>
      <div class="spacer" style="width: 300px; height: 42px;"></div>
      <!-- <ion-item class="item-thumbnail-left" ng-repeat="word in words">
          <div class="row responsive-sm">
              <div class="col-75 item-thumbnail-left">
                  <img ng-src="http://localhost:3333/{{word.imagePath}}" alt="no image" />
                 <h2>{{word.eName}}</h2>
                 <h2>{{word.bName}}</h2>
              </div>
              <div class="col-25">
                  <div class="button-bar">
                      <a class="button button-block button-positive" href="#/page1/edit/word/{{word._id}}">Edit</a>
                      <a class="button button-block button-assertive" ng-click="deleteWord(word._id, word)">Delete</a>
                  </div>
              </div>
          </div>
      </ion-item> -->
      <div class="list">
          <a ng-repeat="word in words" class="item item-thumbnail-left" ng-init="word.show = true">
              <img ng-src="http://localhost:3333/{{word.imagePath}}" alt="no image" ng-click="word.show = !word.show" />
              <h1 class="text-center" ng-show="word.show" ng-click="word.show = !word.show">{{word.eName}}</h1>
              <h1 class="text-center" ng-hide="word.show" ng-click="word.show = !word.show">{{word.bName}}</h1>
              <div class="button-bar">
                  <button class="button button-block button-positive" ng-click="editWord(word._id)"><i class="icon ion-gear-b"></i></button>
                  <button class="button button-block button-assertive" ng-click="deleteWord(word._id, word)"><i class="icon ion-trash-a"></i></button>
              </div>
          </a>
      </div>
    </form>
    <ion-infinite-scroll
    on-infinite="loadMore()"
    icon="ion-loading-c"
    immediate-check="false"
    distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
